flows/CustomPromptInput.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_Document_or_Image_Action_1</name>
        <label>Query Document or Image Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Query_Document_or_Image</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>outputscreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:file</name>
            <value>
                <elementReference>FilesDataTable.firstSelectedRow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:desiredOutput</name>
            <value>
                <elementReference>desired_Output</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:optionalContext</name>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Query_Document_or_Image</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Content_Document_Id_to_List</name>
        <label>Add Content Document Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids.ContentDocument.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Clean_Energy_Program_Invoice_Review</name>
        <choiceText>Clean Energy Program Invoice Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clean Energy Program Invoice Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>TM_Account_Analysis_Statement</name>
        <choiceText>TM Account Analysis Statement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TM Account Analysis Statement</stringValue>
        </value>
    </choices>
    <description>removed subflow, added Agent Action directly</description>
    <environments>Default</environments>
    <interviewLabel>CustomPromptInput {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CustomPromptInput</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Content_Document_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ContentDocumentLinks</name>
        <label>ContentDocumentLinks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PromptDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>outputscreen</name>
        <label>output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PromptOutput</name>
            <fieldText>&lt;p&gt;{!Query_Document_or_Image_Action_1.promptResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PromptDisplay</name>
        <label>PromptDisplay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Query_Document_or_Image_Action_1</targetReference>
        </connector>
        <fields>
            <name>FilesDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Files</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-9ccb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-7011&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-b2f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileExtension&quot;,&quot;guid&quot;:&quot;column-03e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;File Extension&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Demo_Scenario</name>
            <choiceReferences>Clean_Energy_Program_Invoice_Review</choiceReferences>
            <choiceReferences>TM_Account_Analysis_Statement</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Clean_Energy_Program_Invoice_Review</defaultSelectedChoiceReference>
            <fieldText>Demo Scenario</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InvoicetoSelect</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Folio 1.23 File&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Demo_Scenario</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Clean_Energy_Program_Invoice_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TMFiletoSelect</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Account Analysis Statement file&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Demo_Scenario</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TM_Account_Analysis_Statement</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PromptDisplay_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PromptDisplay_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>taskexampledisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Example Task:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InvoiceTaskExample</name>
                    <fieldText>&lt;p&gt;Identify the total invoice amount. Identify each line item on the invoice. Calculate the total amount of tax related line items. Calculate Total Eligible Amount = total invoice amount - total taxes.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Demo_Scenario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Clean_Energy_Program_Invoice_Review</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TMTaskExample</name>
                    <fieldText>&lt;p&gt;You are an expert Treasury Management sales representative. provide a summary of the attached TM Account Analysis&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Demo_Scenario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TM_Account_Analysis_Statement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PromptDisplay_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>task</name>
                    <fieldText>Task</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PromptDisplay_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PromptDisplay_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayexampleoutput</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Example Desired Output Format:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InvoiceOutputExample</name>
                    <fieldText>&lt;p&gt;Return the results on separate lines&lt;/p&gt;&lt;p&gt;Total Invoice Amount:&lt;/p&gt;&lt;p&gt;Total Taxes:&lt;/p&gt;&lt;p&gt;Total Eligible Amount:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Tax Line Items:&lt;/p&gt;&lt;p&gt;Non Tax Line Items:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Demo_Scenario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Clean_Energy_Program_Invoice_Review</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TMOutputExample</name>
                    <fieldText>&lt;p&gt;Return only the key service activity charges in JSON format&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Demo_Scenario</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>TM_Account_Analysis_Statement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PromptDisplay_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>desired_Output</name>
                    <fieldText>Output Format</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContentDocumentLinks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>outputformat</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Return the results on separate lines&lt;/p&gt;&lt;p&gt;Total Invoice Amount:&lt;/p&gt;&lt;p&gt;Total Taxes:&lt;/p&gt;&lt;p&gt;Total Eligible Amount:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Tax Line Items:&lt;/p&gt;&lt;p&gt;Non Tax Line Items:&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>taskinput</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Identify the total invoice amount. Identify each line item on the invoice. Calculate the total amount of tax related line items. Calculate Total Eligible Amount = total invoice amount - total taxes.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
</Flow>
